DB_SERVER=localhost,1433
DB_NAME=MindChat_Dev_[NOMBRETABLA]
DB_USER=xxxx
DB_PASSWORD=xxxx

JWT_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
JWT_ISSUER=MindChat
JWT_AUDIENCE=MindChatClients
JWT_EXPIRY=60

EMAIL_SMTP_HOST=smtp.gmail.com
EMAIL_SMTP_PORT=587
EMAIL_SENDER_NAME=MindChat
EMAIL_SENDER_EMAIL=xxxx@gmail.com
EMAIL_PASSWORD=xxxx

ASPNETCORE_ENVIRONMENT=Development
