# Database Configuration
DB_SERVER=localhost,1433
DB_NAME=MindChat_Dev_[NOMBRETABLA]
DB_USER=xxxxxxx
DB_PASSWORD=xxxxx

# JWT Configuration
JWT_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
JWT_ISSUER=MindChat
JWT_AUDIENCE=MindChat
JWT_EXPIRY_MINUTES=1440

# Microservices URLs
CLINICAL_SERVICE_URL=http://localhost:5001
AUTH_SERVICE_URL=http://localhost:5000
APPOINTMENT_SERVICE_URL=http://localhost:5002
CHAT_SERVICE_URL=http://localhost:5003

# API Gateway
API_GATEWAY_URL=http://localhost:8080

# Email Configuration (for future services)
EMAIL_SMTP_HOST=smtp.gmail.com
EMAIL_SMTP_PORT=587
EMAIL_SENDER_NAME=MindChat
EMAIL_SENDER_EMAIL=xxxx@gmail.com
EMAIL_PASSWORD=xxxx

ASPNETCORE_ENVIRONMENT=Development
