@using MindChat.Application.DTOs.Auth
@model ForgotPasswordDto

<h2>Recuperar contraseña</h2>

<form method="post">
    @Html.AntiForgeryToken()

    <label>Email:</label>
    <input type="email" name="Email" class="form-control" />

    <button type="submit" class="btn btn-primary mt-3">Enviar enlace</button>
</form>
