@{
    ViewData["Title"] = "Iniciar sesión psicologo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="login-container">
    <h2>MindChat - Psicologo</h2>
    <h2>Iniciar sesión</h2>

    <form method="post" asp-action="LoginPsychologist" asp-controller="Auth">
        @Html.AntiForgeryToken()

        <div>
            <label for="username">Usuario</label>
            <input type="text" id="username" name="username" required />
        </div>

        <div>
            <label for="password">Contraseña</label>
            <div style="display:flex; gap:10px;">
                <input type="password" id="password" name="password" required />
                <button type="button" id="togglePassword">👁</button>
            </div>
        </div>

        <button type="submit">Ingresar</button>

        <div>
            <a href="/Auth/ForgotPassword">Olvidé mi contraseña</a>
        </div>

        <div>
            <a href="/Auth/RegisterPsychologist">Registrarse como psicologo</a>
        </div>

        <div>
            <a href="/Auth/LoginPatient">Soy paciente</a>
        </div>
    </form>
</div>

@section Scripts {
    <script>
        const btn = document.getElementById("togglePassword");
        const pwd = document.getElementById("password");

        btn.addEventListener("click", () => {
            pwd.type = pwd.type === "password" ? "text" : "password";
        });
    </script>
}
